.navbar {
    grid-area: nav;
    background-color: aqua;
    text-transform: uppercase;
    line-height: 80px;
    font-size: 18px;
    font-weight: bold;
}

.navbar a {
    display: block;
    transition: ease 0.3s;
    padding-left: 50px;
    color: grey;
    cursor: pointer !important;
}

.navbar a:hover {
    background-color: grey;
    color: azure;
    font-size: 20px;

}

a.activeLink {
    background-color: grey;
    color: azure;
    font-size: 20px;
}

.indent {
    margin-top: 100px;
}

.usersSect {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    padding-top: 30px;
}