* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrapper {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;

  grid-template-areas:
    "header header header"
    "nav main-content main-content"
  ;

  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}