* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrapper {
  display: grid;
  align-self: center;
  max-width: 1200px;
  margin: 0 auto;
  grid-area: header;

  grid-template-areas:
    "header header header"
    "nav main main"
  ;

  grid-template-rows: 70px 1fr;
  grid-template-columns: 2.5fr 10fr;
  grid-gap: 10px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

button:hover {
  cursor:pointer;
}